*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url('legon-girls.jpg');
    background-position: center;
    background-size:cover;
    position: relative;
    
    
}


nav{
    display: flex;
    padding: 2% 6%; 
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 999;
    margin-left: -100px;
    
}
nav img{
    width: 150px;
    cursor: pointer;
    padding-left: 50px;

}
 .clo{
    display: none;
}
 .men{
    display: none ; 
    
}


.nav-links {
   flex: 1;
   text-align: right;
    
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;


}
a{
    text-decoration: none;
    color: #000;
}

.nav-links ul li a{
    color: #000;
    text-decoration: none;
    font-size: 13px;
    }
    .nav-links ul li::after{
        content: '';
        width: 0px;
        height: 2px;
        background: #bd9c6c;
        display: block;
        margin: auto;
        transition: 0.5s;

    }
    .nav-links ul li:hover::after{
        width: 100%;

    }
    .textbox{
        width: 90%;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    .textbox h1{
        font-size: 62px;

    }
    .textbox p{
        margin: 10px 0 40px;
        font-size: 14px;
        color: #fff;
    }
    .hero{
        display: inline-block;
        text-decoration: none;
        color:white;
        border: 1px solid #fff;
        padding: 12px 34px;
        font-size: 13px;
        background: transparent;
        position: relative;
        cursor: pointer;
    }
    .hero:hover{
        border:1px solid white;
        transition: 1s;
        background: #bd9c6c;
    }
   
    
    h9{
        font-size: 36px;
        font-weight: 600;
    }
    .course{
        width: 80%;
        margin: auto;
        text-align: center;
        padding-top: 100px;
    }
    h1{
        font-size: 36px;
        font-weight: 600;
       color: #2C2A58;
    
        
    }
    p{
        color: #BD9C6C;
        font-size: 11px;
        font-weight: 100;
        line-height: 22px;
        padding: 10px;
    }
    .row{
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
    }
    .course-col{
        flex-basis: 31%;
        border-radius: 10px;
        margin-bottom: 5%;
        padding: 20px 12px;
        box-sizing: border-box;
        background: #fff3f3;
  
        transition: 0.5s;
    
    }
    h3{

    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: #2C2A58;
    font-size: 20px;

    }
    .course-col:hover{
        box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    }
    .text{
        font-size: 10px;
        font-weight: lighter;
    }
   

    .department{
        width: 80%;
        text-align: center;
        margin: auto;
        padding-top: 50px;
        display: block;
        
    }
    .campus-col{
        border-radius: 10px;
        margin-bottom: 30px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;

    }
    .campus-col img{
        width: 5%;
        
    }
   
    .course h2{
        padding: 8vw 8vw 0 8vw;
        text-align: center;

    }
    

    .course{
        padding: 9vw 9vw 9vw 9vw;
        text-align: center;
    
    }
   

    .d{
        text-align: center;
        font-size: 13px;
        margin: 10px 0;
         color: #000;
         font-weight: lighter;
        
    }
   #course .courses{
    text-align: start;
    background: #F9F9FF;
    height: 100%;

    }
    #course .courses{
        width: 100%;
        height: 60%;
        background-size: cover;
        background-position: center;
    }
   

    
    .courses{
        padding: 30px 15px 0 30px;
        transition: 1s;
    }
    .courses .details i{
        color: #fdc93b;

    }
    span{
        color: #777;
        font-size: 9px;
        font-weight: 300;
    }
   
    
    h5{
       color: #2C2A58;
    }
    .coursebox{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        margin-top: 30px;
        padding: 8vw 8vw 8vw;
    
    }
    .courses img{
        width:  100%;
        height:  100%;
        
    }
    
  

    .registration{
        padding: 6vw 8vw 6vw 8vw;
        background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url('ssss.jpg');
        padding-bottom: 40px;
       background-position: center;
       background-size:cover;
       position: relative;
        display: flex;
        justify-content: space-between;
        
      
     }
     .course h3{
        color: #2C2A58;
     }
    .reminder{
        color: #fff;
    }
    .reminder h1{
        color: #bd9c6c;
    }
    .reminder p{
        font-size: 35px;
        color: #fff;
        color: #fff;
    }
    .reminder .time{
        display: flex;
        margin-top: 40px;
    }
    .reminder .time .date{
        text-align: center;
        padding: 11px 33px;
        background: rgba(255, 255, 255,0.25);
        backdrop-filter: blur(4px);
        box-shadow: 0, 8px, 32px, o rgba(31, 38, 135, 0.37);
        border-radius: 5px;
        margin: 0 5px 10px 5px;
        border: 1px solid #bd9c6c;
        font-size: 15px;
        font-weight: 600;
    }
    .form{
        background: #fff;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        padding: 40px;
        box-shadow: 0, 8px, 32px, o rgba(31, 38, 135, 0.37);
     }
     .form input{
        margin: 15px 0;
        padding: 15px 10px;
        border: 1px solid black;
        outline: none;

     }
     .form a.blue{
        background: #bd9c6c;
        padding: 13px 35px;
        border-radius: 5px;
        font-size: 0.9rem;
        font-weight: 600;
        transition: 0.3s ease;

     }
     .form a.blue:hover{
        background: #fff;

     }
     .form .input::placeholder{
        color: #413c3c;
        font-weight: 500;
        font-size: 0.9rem;
     }
     .reg{
        
    background: #BD9C6C;
    line-height: 42px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    color: #000;
    display: inline-block;
    position: relative;
    cursor: pointer;
    position: relative;
    font-size: 12px;
     }
     .box{
        height: 40px;
        box-sizing: border-box;
     }

     
    footer{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 30px;
        background-color:  #2C2A58;
        display: flex;
        justify-content: space-between;
        height: 600px;
      
     }
     footer .footer-col{
        padding-bottom: 40px;
     }
     footer .footer-col{
        color: #777;
        font-size: 12px;
        }
        footer h11{
            color: #fff;
            
            }
       footer li{
            font-family: "Poppins", sans-serif;
            font-weight: 300;
            line-height: 55px;
            list-style: none;
            cursor: pointer;
            transform: 0.4s;
        }
        
        footer li:hover{
            color: #BD9C6C;
        }
        footer .subscribe{
            margin-top: 20px;
        }

        footer input{
            width: 220px;
            padding: 15px 12px;
            border: none;
            outline: none;
        }
        footer .subscribe a{
            color: #fff;
            background: #BD9C6C;
            padding: 12px 15px;
            transition: 0.3s ease;
            font-size: 0.9rem;

        }
        footer .subscribe a:hover{
            color: white;
            background: #bd9c6c;
            }

         footer .copyright{
            margin-top: 20px;
            
            justify-content: space-between;
            align-items: center;
            width: 100%;
            
         }
         @media(max-width:756px){ 
            nav{
                padding: 15px 20px;
            }
            nav img{
                width: 130px;
            }
            .clo{
                display: initial;
                font-size: 1.6rem;
                color: #fff;
                padding: 10px 0 20px 20px;
            }
             .men{
                display: initial; 
            }
            nav .nav-links ul{
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                top: 0;
                right: -240px;
                width: 230px;
                background-color: rgba(17, 20, 104, 0.45);
                backdrop-filter: blur(4.5px);
                border: 1px solid rgba(255,255,255,0.18);
                height: 100vh;
                transition: 0.3s ease;

            }
            nav .nav-links ul .active{
                right: 0;
            }
            nav .nav-links ul li{
                padding: 20px 0 20px 40px;
                margin-left: 0;

            }
            .course-col {
                padding: 8vw, 4vw, 0, 4vw;
                text-align: center;
         }
         .coursebox {
            padding: 8vw, 4vw, 0, 4vw;
         }
         .registration{
            padding: 6vw 8vw 6vw 8vw;
         }
          
        }

       .about-header{
        min-height: 70vh;
        background-position: center;
        background-size:cover;
        position: relative;
        background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url('la.jpg');
        width: 100%;
       }
        .Welcome{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 15px;
        }
        .bot{
            margin-bottom: 100px;
           
        }
        .content p{
            color: #777;
            font-size: 12px;
            margin-top: 10px;
            justify-content: center;
            display: flex;
            text-align: justify;

        }
        
        .sub p{
            color: #777;
            font-size: 12px;
            margin-top: -10px;
            
        }
        
        .col-1 p{
            margin-top: -20px;
            display: flex;
            align-items: center;
            justify-self: center;
            
        }
        .col-l{
            display: flex;
            align-items: center;
            justify-self: center;

        }  
        
        .subp1{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .im{
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 70vh;
            width: 100%;
        }
       .vid{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
       }
    .contact-us{
        
        height: 250px;
        background-color: #777;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .boxx{
      width: 150px;
      height: 150px;
      border: 1px solid #2C2A58;


    }